body{
    font-family: raleway;
    background-color: grey;
}

h1{
    font-family: Carter One;
    text-align: center;
}

h2{
    text-align:center;
}

a:link{
    color:rgb(67, 72, 77)
}

a:visited{
    color:rgb(72, 53, 85)
}

.footer{
    font-size: 12px;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}